body {
  background-color: #f4f5f6;
}
.wrapper {
  background-color: #fff;
  width: 100vw;
  max-width: 1312px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 0;
}
.top-header {
  background-color: #f81d09;
  color: #fff;
  height: 5.9rem;
}
.display-on-medium-and-below {
  background-color: #f81d09;
  color: #fff;
  height: 3rem;
}
sup.degree-sign:before {
  content: '\00b0';
  color: #fff;
}
.remove-padding-margin-styl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.remove-text-decoration {
  text-decoration: none;
  color: #fff;
}
.bold-font {
  font-weight: 700;
  font-size: 1.1rem;
}
.bold-font:hover {
  text-decoration: none;
  color: #fff;
}
.subscribe-link {
  padding: 0.3rem 0.5rem;
  background-color: #fff;
  color: #f72210;
}
.subscribe-link:hover {
  background-color: #fff;
  color: #f72210;
}
.logo-container {
  height: auto;
  width: 10rem;
}
.bold-weather-info {
  font-weight: 700;
}
.mobile-logo-ontainer {
  width: 15%;
  object-fit: contain;
  max-height: 100%;
}

.navigation .row li a {
  margin-left: 0;
  padding-left: 0;
}

.navigation {
  border-bottom: solid 2px #f4f5f6;
}

.navigation li input[type='text'] {
  width: 60px;
  margin-left: 10px;
  border: none;
  font-weight: lighter;
}

.navigation ul::before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: '';
  display: block;
  width: 100px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.navigation-bar {
  margin: 0;
  padding: 0 0 0 12px;
  max-width: 90%;
  height: 50px;
  line-height: 45px;
}
.navlink {
  color: black;
}
.navlink:hover {
  text-decoration: none;
  color: #f72210;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.navigation-bar li {
  list-style: none;
}

.navigation-bar li a {
  padding: 3px 0;
  text-align: center;
  font-weight: bold;
}
.artile-title {
  font-weight: 700;
  display: inline-block;
}
.opinion-article-link {
  display: block;
  color: black;
  font-weight: 600;
}
.opinion-article-link:hover {
  color: #f81d09;
  text-decoration: none;
}
.debate-link:hover {
  color: black;
}
.opinion-author {
  font-weight: 600;
}
.debate-border-red {
  width: 100%;
  margin: 0 auto;
  height: 4px;
  background-color: #f92859;
}
.border-blue {
  background-color: #1c87fb;
}
.col-3.img-col {
  padding-left: 0;
}
.debate-discussions {
  position: relative;
  color: black;
}
.debate-discussions::before {
  content: '';
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
}
.debate-discussions::after {
  content: '';
  display: block;
  background-color: #d9d9d9;
  height: 1px;
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
}
.participant-name {
  padding-top: 1.3rem;
}
.particant-name-bold {
  font-weight: 600;
}
.vs {
  padding: 0.5rem 0.7rem;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}
.participant-avatar {
  width: 4rem;
  height: 100%;
  z-index: 3;
}

.subscribe-icon {
  flex: none;
  display: inline-block;
  width: 29px;
  height: 28px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) center/contain
    no-repeat #f72210;
  margin-right: 10px;
}
.card-subscribe-width {
  width: 90%;
  min-width: 272px;
  background-color: #e0e0e0;
}
.subscribe-header {
  width: 80%;
}
.sign-up-newsletter {
  font-weight: 900;
}
.update-preference {
  color: black;
  font-weight: 700;
}
.update-preference:hover {
  text-decoration: none;
  color: #000;
}
.bold-font-title {
  font-weight: 700;
}
.news-source {
  font-weight: 700;
  bottom: 0;
  left: 0;
  color: #f72210;
  padding: 0.2rem 1rem;
  background-color: rgba(255, 255, 255, 0.7);
}
.news-week-title-feature {
  color: #000;
}
.news-week-title-feature:hover {
  text-decoration: underline;
  text-decoration-color: #f72210;
  color: #000;
}
@media screen and (max-width: 640px) {
  .country-weather {
    display: none;
  }
  .mobile-logo-ontainer {
    width: 20%;
    object-fit: contain;
    max-height: 100%;
  }
}
@media screen and (max-width: 575px) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-logo-ontainer {
    width: 25%;
    object-fit: contain;
    max-height: 100%;
  }
}

@media screen and (max-width: 379px) {
  .sign-in,
  .subscribe-link {
    font-size: 0.8rem;
  }
  .mobile-logo-ontainer {
    width: 32%;
    object-fit: contain;
    max-height: 100%;
  }
}
@media screen and (max-width: 991px) {
  .opinion-container .col-2 {
    max-width: 6%;
  }
  .debate-section .col-3,
  .latest-news-container .col-3 {
    max-width: 10%;
  }
  .card-subscribe-width {
    width: 50%;
    background-color: #e0e0e0;
  }
}
