body {
  background-color: #f4f5f6;
}
.wrapper {
  background-color: #fff;
  width: 100vw;
  max-width: 1312px;
  height: 100vh;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding: 0;
}
.top-header {
  background-color: #f81d09;
  color: #fff;
  height: 5.9rem;
}
.display-on-medium-and-below {
  background-color: #f81d09;
  color: #fff;
  height: 3rem;
}
sup.degree-sign:before {
  content: '\00b0';
  color: #fff;
}
.remove-padding-margin-styl {
  margin: 0;
  padding: 0;
  list-style: none;
}

.remove-text-decoration {
  text-decoration: none;
  color: #fff;
}
.bold-font {
  font-weight: 700;
  font-size: 1.1rem;
}
.bold-font:hover {
  text-decoration: none;
  color: #fff;
}
.subscribe-link {
  padding: 0.3rem 0.5rem;
  background-color: #fff;
  color: #f72210;
}
.subscribe-link:hover {
  background-color: #fff;
  color: #f72210;
}
.logo-container {
  height: auto;
  width: 10rem;
}
.bold-weather-info {
  font-weight: 700;
}
.mobile-logo-ontainer {
  width: 15%;
  object-fit: contain;
  max-height: 100%;
}

.navigation .row li a {
  margin-left: 0;
  padding-left: 0;
}

.navigation {
  border-bottom: solid 2px #f4f5f6;
}

.navigation li input[type='text'] {
  width: 60px;
  margin-left: 10px;
  border: none;
  font-weight: lighter;
}

.navigation ul::before {
  position: absolute;
  top: 0px;
  right: 0px;
  content: '';
  display: block;
  width: 100px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.navigation-bar {
  margin: 0;
  padding: 0 0 0 12px;
  max-width: 90%;
  height: 50px;
  line-height: 45px;
}
.navlink {
  color: black;
}
.navlink:hover {
  text-decoration: none;
  color: #f72210;
}

.navigation-bar ul {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}

.navigation-bar li {
  list-style: none;
}

.navigation-bar li a {
  padding: 3px 0;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 640px) {
  .country-weather {
    display: none;
  }
  .mobile-logo-ontainer {
    width: 20%;
    object-fit: contain;
    max-height: 100%;
  }
}
@media screen and (max-width: 575px) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-logo-ontainer {
    width: 25%;
    object-fit: contain;
    max-height: 100%;
  }
}

@media screen and (max-width: 379px) {
  .sign-in,
  .subscribe-link {
    font-size: 0.8rem;
  }
  .mobile-logo-ontainer {
    width: 32%;
    object-fit: contain;
    max-height: 100%;
  }
}
